*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: "NeueCorp";
  src: url("./public/PPNeueCorp-NormalMedium.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  cursor: url('./public/cursor.png') 1 38, auto;
  font-family: 'NeueCorp', sans-serif;
}

#nav {
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 10;
}

#footer {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 10;
}

#nav img {
  display: block;
  width: 15em;
}

#footer #shop {
  display: block;
  color: #FF0647;
  font-size: 1.2em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

#footer #shop:hover {
  text-decoration: underline;
}

#footer #shop span {
  display: block;
  font-size: .5em;
  font-style: italic;
  line-height: 1.2em;
}

.click-zone {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 5;
}

.left { left: 0; }
.right { right: 0; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}
